$white: #f8f8ff;
$bg: #ffeccf;
$bright-green: #c8f200;
$dull-green: #818c26;
$tomato: tomato;
$lightsteel: #b0c4de;
$maroon: #935953;

.text-white {
  color: $maroon;
}

.text-green {
  color: #00bfff;
}

.text-tomato {
  color: tomato;
}
